
p {
    text-align: justify;
    font-size: 18px;
    margin: 0 1.5vw 0.5vw 0;
    line-height: 1.5;
    color:rgb(60, 60, 60);
}

p a { /* Links in project description */
    color: rgb(0, 157, 226);
    padding-left: 10px;
}

h1 {
    background-color: lightblue;
    padding: 10px;
}

.tab {
    padding-left: 5em;
}

.container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 40%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding-bottom: 10vw;
}

.extend {
    width: 100%;
}

.research-title {
    float: left;
}

.date {
    float: right;
}

#research p {
    clear: both;
    padding-top: 1em;
}