
img {
    max-width: 40%;
}

p {
    text-align: justify;
    font-size: 18px;
    margin: 0 1.5vw 0.5vw 0;
}

p a { /* Links in project description */
    color: rgb(0, 157, 226);

}

.container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border-radius: 2%;
    width: 30vw;
    height: 14vw;
    min-width: 700px;
    min-height: 300px;
    margin: 0.5vw auto;
    display: flex;
    max-height: 15vw;
}

.tile { /* Background tile */
    background-color: rgb(240, 240, 240);
    margin: 0.5vw;
}

.description { /* Project description */
    margin: 0 0 0 1.5vw;
    overflow: scroll;
    overflow: auto;
}