
p {
    text-align: justify;
    font-size: 18px;
    margin: 0 1.5vw 0.5vw 0;
    line-height: 1.4;
}

p a { /* Links in project description */
    color: rgb(0, 157, 226);
}

h1 {
    color:rgb(80, 80, 80);
}

.container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 40%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}