.section-heading-section-heading {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.section-heading-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-text1 {
  color: var(--dl-color-gray-black60);
  text-align: center;
  line-height: 24px;
}



.radio-cartographer-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.radio-cartographer-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.radio-cartographer-header {
  height: 70px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.radio-cartographer-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.radio-cartographer-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.radio-cartographer-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.radio-cartographer-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.radio-cartographer-text {
  text-decoration: none;
}
.radio-cartographer-logo-center {
  text-decoration: none;
}
.radio-cartographer-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.radio-cartographer-icons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.radio-cartographer-burger-menu {
  display: none;
}
.radio-cartographer-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.radio-cartographer-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.radio-cartographer-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.radio-cartographer-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.radio-cartographer-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.radio-cartographer-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-cartographer-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.radio-cartographer-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.radio-cartographer-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.radio-cartographer-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.radio-cartographer-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.radio-cartographer-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.radio-cartographer-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.radio-cartographer-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.radio-cartographer-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.radio-cartographer-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.radio-cartographer-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.radio-cartographer-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.radio-cartographer-banner-section {
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-pallet-green);
}
.radio-cartographer-max-width {
  max-width: 1032px;
}
.radio-cartographer-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.radio-cartographer-container3 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.radio-cartographer-info {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-threeunits);
}
.radio-cartographer-image {
  width: 2px;
  height: 52px;
  margin: 0 14px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}
.radio-cartographer-link {
  display: contents;
}
.radio-cartographer-icon10 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.radio-cartographer-link1 {
  display: contents;
}
.radio-cartographer-icon12 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.radio-cartographer-text08 {
  width: 345px;
  max-width: 450px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.radio-cartographer-container4 {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
}
.radio-cartographer-text09 {
  color: var(--dl-color-gray-black80);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-right: 4px;
  letter-spacing: 0.1em;
}
.radio-cartographer-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.radio-cartographer-link2 {
  align-self: stretch;
  text-decoration: none;
}
.radio-cartographer-link3 {
  align-self: stretch;
}
.radio-cartographer-image1 {
  width: 579px;
  height: auto;
  object-fit: cover;
}
.radio-cartographer-about-section {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.radio-cartographer-text12 {
  z-index: 2;
  text-align: center;
}
.radio-cartographer-text13 {
  z-index: 2;
  text-align: center;
  font-family: "Jost";
}
.radio-cartographer-link4 {
  color: var(--dl-color-theme-primary1);
  text-decoration: underline;
}
.radio-cartographer-link5 {
  color: var(--dl-color-theme-primary1);
  text-decoration: underline;
}
.radio-cartographer-contaminant-section {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.radio-cartographer-max-width2 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.radio-cartographer-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.radio-cartographer-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.radio-cartographer-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.radio-cartographer-text25 {
  font-style: normal;
  font-weight: 800;
}
.radio-cartographer-text30 {
  font-style: normal;
  font-weight: 800;
}
.radio-cartographer-text34 {
  font-style: normal;
  font-weight: 800;
}
.radio-cartographer-text35 {
  font-style: normal;
  font-weight: 800;
}
.radio-cartographer-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
.radio-cartographer-placeholder-image {
  width: 649px;
  height: 490px;
}
.radio-cartographer-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.radio-cartographer-footer1 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.radio-cartographer-container5 {
  top: 96px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.radio-cartographer-text37 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.radio-cartographer-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.radio-cartographer-link6 {
  display: contents;
}
.radio-cartographer-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.radio-cartographer-link7 {
  display: contents;
}
.radio-cartographer-icon16 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .radio-cartographer-container1 {
    display: none;
  }
  .radio-cartographer-left {
    display: none;
  }
  .radio-cartographer-right {
    display: none;
  }
  .radio-cartographer-icons {
    display: none;
  }
  .radio-cartographer-burger-menu {
    display: flex;
  }
  .radio-cartographer-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .radio-cartographer-logo-center1 {
    margin-left: 0px;
  }
  .radio-cartographer-hero {
    flex-direction: column;
  }
  .radio-cartographer-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .radio-cartographer-text08 {
    text-align: center;
  }
  .radio-cartographer-max-width2 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
  .radio-cartographer-footer1 {
    flex-direction: column-reverse;
  }
}
@media(max-width: 767px) {
  .radio-cartographer-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .radio-cartographer-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .radio-cartographer-banner-section {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .radio-cartographer-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .radio-cartographer-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .radio-cartographer-container {
    padding-top: 55px;
  }
  .radio-cartographer-header {
    padding: var(--dl-space-space-unit);
  }
  .radio-cartographer-mobile-menu {
    padding: 16px;
  }
  .radio-cartographer-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .radio-cartographer-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .radio-cartographer-btn-group {
    flex-direction: column;
  }
  .radio-cartographer-footer1 {
    padding: var(--dl-space-space-unit);
  }
}
