.tess-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.tess-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.tess-header {
  height: 70px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.tess-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.tess-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tess-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.tess-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.tess-text {
  text-decoration: none;
}
.tess-logo-center {
  text-decoration: none;
}
.tess-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.tess-icons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.tess-burger-menu {
  display: none;
}
.tess-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.tess-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.tess-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tess-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.tess-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.tess-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tess-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.tess-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.tess-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.tess-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.tess-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.tess-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.tess-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.tess-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.tess-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.tess-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.tess-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.tess-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.tess-banner-section {
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-pallet-green);
}
.tess-max-width {
  max-width: 1032px;
}
.tess-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tess-container3 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.tess-info {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-threeunits);
}
.tess-image {
  width: 2px;
  height: 52px;
  margin: 0 14px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}
.tess-link {
  display: contents;
}
.tess-icon10 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.tess-link1 {
  display: contents;
}
.tess-icon12 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.tess-text08 {
  width: 345px;
  max-width: 450px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.tess-container4 {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
}
.tess-text09 {
  color: var(--dl-color-gray-black80);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-right: 4px;
  letter-spacing: 0.1em;
}
.tess-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tess-image1 {
  width: 579px;
  height: auto;
  object-fit: cover;
}
.tess-about-section {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.tess-text12 {
  z-index: 2;
  text-align: center;
}
.tess-text13 {
  z-index: 2;
  text-align: center;
  font-family: "Jost";
}
.tess-listener {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.tess-max-width2 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.tess-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tess-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tess-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tess-text21 {
  letter-spacing: 0.02px;
}
.tess-link2 {
  color: var(--dl-color-theme-primary1);
  text-decoration: underline;
}
.tess-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
.tess-campaign-manager {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.tess-max-width3 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.tess-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tess-section-title1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tess-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tess-image-container1 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
.tess-pysad {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.tess-max-width4 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.tess-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tess-section-title2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tess-content5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tess-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tess-link3 {
  align-self: stretch;
  align-items: stretch;
  text-decoration: none;
}
.tess-image-container2 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
.tess-transient {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.tess-max-width5 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.tess-content6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tess-section-title3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tess-content7 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.tess-btn-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tess-link4 {
  align-self: stretch;
  align-items: stretch;
  text-decoration: none;
}
.tess-link5 {
  align-self: stretch;
  align-items: stretch;
  text-decoration: none;
}
.tess-image-container3 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
.tess-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.tess-footer1 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.tess-container5 {
  top: 96px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.tess-text38 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.tess-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.tess-link6 {
  display: contents;
}
.tess-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.tess-link7 {
  display: contents;
}
.tess-icon16 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .tess-container1 {
    display: none;
  }
  .tess-left {
    display: none;
  }
  .tess-right {
    display: none;
  }
  .tess-icons {
    display: none;
  }
  .tess-burger-menu {
    display: flex;
  }
  .tess-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .tess-logo-center1 {
    margin-left: 0px;
  }
  .tess-hero {
    flex-direction: column;
  }
  .tess-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .tess-text08 {
    text-align: center;
  }
  .tess-max-width2 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
  .tess-max-width3 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
  .tess-max-width4 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
  .tess-max-width5 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
  .tess-footer1 {
    flex-direction: column-reverse;
  }
}
@media(max-width: 767px) {
  .tess-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tess-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .tess-banner-section {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .tess-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .tess-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .tess-container {
    padding-top: 55px;
  }
  .tess-header {
    padding: var(--dl-space-space-unit);
  }
  .tess-mobile-menu {
    padding: 16px;
  }
  .tess-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .tess-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .tess-btn-group {
    flex-direction: column;
  }
  .tess-btn-group1 {
    flex-direction: column;
  }
  .tess-btn-group2 {
    flex-direction: column;
  }
  .tess-footer1 {
    padding: var(--dl-space-space-unit);
  }
}
